@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #60a5fa;
}

.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.header {
  background-color: var(--primary-color);
  padding: 1rem;
  color: white;
}

button {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.li-inline {
  display: inline;
  margin: 0 1rem;
}

.brand-name {
  text-align: left;
  margin-block-start: 0;
  margin-block-end: 0;
}

.nav-items {
  text-align: right;
}

.nav-btn {
  background-color: var(--primary-color);
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.nav-btn:hover {
  font-weight: bold;
}

/* isTriangle component*/
.div-input {
  margin-top: 2rem;
}

input[type="number"] {
  border: 2px solid var(--primary-color);
  border-radius: 0.3rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
}

label {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.btn-submit {
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 2rem;
}

.btn-submit:active {
  background-color: #2563eb;
}

.div-output {
  border: 2px solid var(--primary-color);
  width: 20rem;
  height: 7rem;
  margin: 1rem auto;
  border-radius: 0.3rem;
}

.quiz {
  max-width: 80%;
  margin: 4rem auto;
}

.quiz:nth-of-type(10) {
  margin-bottom: 1rem;
}

.footer {
  margin-bottom: 3rem;
}

@media (max-width: 700px) {
  .li-nav {
    margin: 0 0.2rem;
  }

  .isTriangle {
    max-width: 80%;
    margin: 0 auto;
  }

  .hypotenuse {
    max-width: 80%;
    margin: 0 auto;
  }

  .area {
    max-width: 80%;
    margin: 0 auto;
  }

  .nav-items {
    text-align: center;
  }

  .brand-name {
    text-align: center;
    margin-block-end: 0.67em;
  }
}
