@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #60a5fa;
}

.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.header {
  background-color: var(--primary-color);
  padding: 1rem;
  color: white;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.li-inline {
  display: inline;
  margin: 0 1rem;
}

.brand-name {
  text-align: left;
  margin-block-start: 0;
  margin-block-end: 0;
}

.nav-items {
  text-align: right;
}

.nav-btn {
  background-color: var(--primary-color);
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.nav-btn:hover {
  font-weight: bold;
}
